.subscribeButton {
    width: 260px;
    height: 4rem;
    border: 1px solid var(--yellow-500);
    border-radius: 2rem;
    background: var(--yellow-500);
    color: var(--gray-900);
    font-size: 1.25rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    transition: all 0.4s ease;

    &:hover {
        color: var(--white);
        background-color: transparent;
        border-radius: 0;
    }
}
